<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
  <testsuites>
    <testsuite name="Query Builder Test Suite">
      <directory suffix="Test.php">./tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./src/</directory>
      <exclude>
        <file>./src/helpers.php</file>
        <file>./src/Config/database.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
